.SpinnerCenter {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 45%;
    left: 45%;
}

.WideDialog .popover-content {
    left: 10%;
    width: 90%;
    max-height: 80%;
}

.UAVBadge-base {
    position: relative;
    left: 5%;
    width: 90%;
    max-height: 65pt;
    height: 65pt;
    background-color: white;
    border-radius: 35px;
    box-shadow: 2px 2px 5px lightgray;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.UAVBadge-base .imbed-image {
    position: relative;
    float: left;
    height: 100%;
    width: 100px;
    z-index: 2;
    background-color: whitesmoke;
}

.UAVBadge-base .mid-section .cust-splitter-hor {
    height: 1px;
    margin-left: 2%;
    width: 98%;
    z-index: 50;
    box-shadow: 1px 1px 3px lightgray;
    background-color: lightgrey;
}

.UAVBadge-base .mid-section h2 {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.UAVBadge-base .mid-section .sub-text {
    padding: 5px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
}

.UAVBadge-base .mid-section {
    overflow: hidden;
    height: 100%;
    width: calc(80% - 65pt);
    background-color: white;
    z-index: 2;
    float: left;
}

.UAVBadge-base .ham-menu {
    height: 100%;
    width: 15%;
    float: right;
    overflow: hidden;
    background-color: whitesmoke;
}

.UAVBadge-base .ham-menu .btn-fill {
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    border-color: none;
    border-radius: 0px !important;
    height: 100%;
    width: 100%;
    float: right;
}